@media (max-width: 1600px) {
  .mobile-break {
    display: none;
  }
}
/*______________________________________________________________________Размер окна меньше 1440 пикселей */
@media(max-width:1440px){
/*_____________________________Заголовок */
.header__title-nav ul {margin-right: 0;}


/*_____________________________Модалка для стать частью мто */
.popup__content {
  width: 96%;
  margin: 140px auto;
}
 .membership__block--ych::before {background-size: 160%;}
 .membership__block--reverse::before {background-size: 250%;}

}


/*______________________________________________________________________Размер окна меньше 1024 пикселей */
@media(max-width:1024px){
/*_____________________________Заголовок */
.header__title-nav {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: #828282;
  border-radius: 30px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  isolation: isolate;
  will-change: backdrop-filter;
}
.header__title-nav.active {
  opacity: 1;
  pointer-events: auto;
  
}
.header__title-nav ul {
flex-direction: column;
gap: 0px;
}
.header__title-nav ul li{
  padding: 20px;
  font-size: clamp(1.5rem,1.5vw + 0.5rem ,2rem);
  color: rgb(255, 255, 255);
  text-align: center;
}
.burger {display: block;}

.header__buttons{
  width: 96%;
  margin:  0 auto;
  justify-content: space-between;
  gap: 3%;
}
.header__buttons-btn {width: 46%;}
.popup__content {
 height: 210px;
}


/*_____________________________membership__block */
.membership__block-content-up h1{text-align: center;}
.membership__block-content-up ul {text-align: center;}
.membership__block-content-up{padding: 10px;}
.membership__block__wrapper{
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.membership__block--reverse .membership__block__wrapper{
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}






/*_____________________________Обратная связь */
.callBack__area-img{display: none;}
.callBack__area-content{
  width: 80%;
  margin: auto;
}
.callBack__area-wrapper{padding: 5%;}




}
/*______________________________________________________________________Размер окна меньше 768 пикселей */
@media(max-width:768px){
/*_____________________________Заголовок */
.header__title-logo img{width: 80%;}
.header__buttons{
  width: 96%;
  margin:  0 auto;
  flex-direction: column;
  justify-content: flex-start;
}
.header__buttons-btn {
  width: 100%;
  height:60px;
  margin: 7px 0;
}


/*_____________________________membership__block */
.membership__block-content-up h1{
  text-align: start;
  margin-top: 10px;
}
.membership__block-content-up ul {text-align: start;}
.membership__block--ych{background-position: top;}
.membership__block--reverse{background-position: top;}
.membership__block-content-up {padding: 0;}
.membership__block__wrapper{grid-template-columns: 1fr 1fr;}
  
.membership__block {
 /*  min-height: auto;
  flex-direction: column; */
  padding:  0;
  
}

/* Вся сетка становится одно-колоночной */
.membership__block__wrapper {
  display: grid;
  grid-template-columns: 1fr !important;
  grid-template-rows: auto auto auto !important;
  grid-template-areas:
    "content-up"
    "photo"
    "content-down";
  height: 100%;
  min-height: 700px;
  background: rgba(66, 65, 65, 0.15);
  backdrop-filter: blur(10px);           
  -webkit-backdrop-filter: blur(0px);   
  border: 1px solid rgb(255, 255, 255); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
  border-radius: 40px;
  padding: 40px;
  gap: 0;
  
  
}
.membership__block--reverse .membership__block__wrapper {
  height: 100%;
}



.membership__block-content {display: contents !important; }
.membership__block-content-up {grid-area: content-up;}

.membership__block-content-down {
  grid-area: content-down;
  border-radius:0 0 40px 40px;
  height: auto;
  margin: auto;
}
.membership__block-content-down button {
  height: 70px;
}
.membership__block-photo {
  grid-area: photo;
  justify-self: center;
  width: 100%;
  height:107%;
  border-radius: 0;
  min-height: 200px;
  border-radius: 40px 40px 0  0 ;
  overflow: hidden;
  font-size: clamp(2rem, 8vw, 4rem);
}
.membership__block--reverse.membership__block-photo {
  height:107%;
}
.callBack__title{
  width: 100%;
}

.membership__block--reverse .membership__block__wrapper {
  grid-template-areas:
  "content-up"
  "photo"
  "content-down";
  gap: 5px;
}
.mian__more-item{width: 40%;}

/*_____________________________Модалка для стать частью мто */
.popup__content {
  width: 96%;
  margin: 140px auto;
}
.description-back-second{
display: none;
}


/*_____________________________Обратная связь */
.callBack__area-content {width: 100%;}
.membership__block--ych::before {

 background-size: 300%;

 background-position: top;

}
.membership__block--reverse::before {

 background-size: 300%;

 background-position: top;

}

}


/*______________________________________________________________________Размер окна меньше 480 пикселей */
@media(max-width:480px){
/*_____________________________Заголовок */
.header__title{height: 80px;}
.header__title-profile{
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60%;
}
.header__title-profile-item{display: none;}
.burger {width: 60px;}
.header__title-nav-pofile{display: block;}

/*_____________________________Основная часть сайта */
.main__more {
  display: flex;
  justify-content: center;
}
.mian__more-item{
  width: 100%;
  height: 70px;
  
}
.description__content {
    gap: 10px;
}
.description{
  min-height: 750px;
  justify-content:center;
  gap: 40px;
}


.main__title{margin: 0 auto;
width: 100%;
}
.title-item{
  width: auto;
  height: 60px;
  margin: auto;
  border-radius: 20px;
}
/*_____________________________membership__block */
.membership__block-content-up h1 {text-align: center;}
.membership__block-content-up ul{
  list-style: none;
  padding-left: 2%;
}
.membership__block-content-up ul li{word-break:  break-all;}
.membership__block__wrapper {padding:  10px;
gap: 0;}


/*_____________________________Модалка для стать частью мто */
.popup__content {
  width: 96%;
  height: 280px;
  margin: 112px auto;
}
.popup__content {padding: 0;}

/*_____________________________Обратная связь */
.buttons {
  grid-template-columns:  1fr;
  grid-template-rows: 1fr;
}
input{height: 60px;}
.btn {height: 50px;}
.callBack__title{margin:  40px auto 0;}
.btn--blue span{display: inline;}
.btn--blue img{display: none;}

.membership__block{
  
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.membership{

  gap: 0px;
  /* border: 1px solid red; */
}
.membership__block{
  min-height: 100vh;
  min-height: 750px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: 30px; */
}
.description{
  margin: 0 auto;
}









.description-back-first{
  position: absolute;
  z-index: -1;
  width: 100%;
  /* top: 45%; */
}

.main__description-item{
  text-align: left;
  text-align-last: left;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  word-break: normal;
  letter-spacing: 0.01em;
  
}
}


@media(max-width:325px){
  .popup__content {
    height: 310px;
  }

}